.custom-sheet {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.data-grid .data-header > div {
  width: 100%;
}

.data-grid .data-header > div:after, .data-grid .data-body .data-row:after {
  content: "";
  display: table;
  clear: both;
}

.data-grid .data-header > div > div {
  float: left;
  font-weight: bold;
  font-size: 12px;
  padding: 2px;
}

.data-grid .data-header > div > div.action-cell, 
.data-grid .data-header > tr > .action-cell, 
.data-grid .data-body .data-row > div.action-cell {
  width: 10%;
}

.data-grid .data-body .data-row > div {
  float: left;
  font-size: 12px;
}

.data-grid .data-body .data-row > .cell > input.data-editor {
  width: 100%;
  height: 100%;
}

.data-grid ul.data-body {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.data-grid-container .data-grid .cell {
  height: 30px;
}